body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.SideNav{
  position: absolute;
  height: 95vh;
  width: 10vw;
  margin: 0;
  padding: 20px;
  background-color: #1B2032;
  color: #ffffff;
}
.pages{
  margin-left: 12vw;
  padding: 20px;
}
img{
  width: 10vw;
}
.Links{
  text-decoration: none;
  color: #ffffff;
  padding: 20px;
  text-align: center;
}
.Links :hover{
  font-weight: bolder;
}
.Links-active{
  color: #FF6C1B;
  text-decoration: none;
  padding: 20px;
  text-align: center;
}
.links-cont{
  display: block;
}
.links-item{
  margin-top: 40px;
  margin-bottom: 40px;
}
.links-item :hover{
  font-weight: bolder;
}
.top-ribbon{
  position: absolute;
  width: 10vw;
  border-style: solid;
  border-width: .5px;
  border-color: #1B2032;
  border-radius: 50px;
  height: 50px;
  right: 30px;
  top:40px;
  z-index: 10;
  display: flex;
  justify-content: space-evenly;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 13px;
  box-sizing: border-box;
}
.title-bar{
  background-color: #F8F8F8;
  color: #1B2032;
  font-size: larger;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 30px;
  margin-bottom: 20px;
}

.icons{
  width: 20px;
  height: 20px;
  margin-right: 10px;
  margin-left: 10px;
}
.tables{
  width: 85vw;
  text-align: center;
}
.tables thead{
  background-color: #1B2032;
  color: #ffffff;
  border-style: none;
  padding-top:20px;
  padding-bottom: 20px;
}
.tables th{
  padding-top: 10px;
  padding-bottom: 10px;
  border-style: none;
}
.tables tr{
  padding-top: 10px;
  padding-bottom: 10px;
  color: #1B2032;
}
.tables tr:hover{
  background-color: #FF6C1B;
  color: #ffffff;
  cursor: pointer;
}
.tables td{
  padding-top: 10px;
  padding-bottom: 10px;
}
.inspection-page{
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
}
.inspection-subpage{
  border-style: solid;
  position: relative;
  width: 100vw;
  height: 80vh;
  min-width: 85vw;
}
.inspection-question{
  border-style: solid;
  position: relative;
  height: 80vh;
  transition: nextQ 1s all ease;
}


.page-top{
  top: 0;
}
.page-bottom{
  border-style: solid;
  position: absolute;
  height: 5vh;
  bottom: 0;
  width: 85vw;
}

@keyframes nextQ {
  from{
    opacity: 0;
    transform: translateY(150px);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}