body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.SideNav{
  position: absolute;
  height: 95vh;
  width: 10vw;
  margin: 0;
  padding: 20px;
  background-color: #1B2032;
  color: #ffffff;
}
.pages{
  margin-left: 12vw;
  padding: 20px;
}
img{
  width: 10vw;
}
.Links{
  text-decoration: none;
  color: #ffffff;
  padding: 20px;
  text-align: center;
}
.Links :hover{
  font-weight: bolder;
}
.Links-active{
  color: #FF6C1B;
  text-decoration: none;
  padding: 20px;
  text-align: center;
}
.links-cont{
  display: block;
}
.links-item{
  margin-top: 40px;
  margin-bottom: 40px;
}
.links-item :hover{
  font-weight: bolder;
}
.top-ribbon{
  position: absolute;
  width: 10vw;
  border-style: solid;
  border-width: .5px;
  border-color: #1B2032;
  border-radius: 50px;
  height: 50px;
  right: 20px;
  top:40px;
  z-index: 10;
}
.title-bar{
  background-color: #F8F8F8;
  color: #1B2032;
  font-size: larger;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 30px;
  margin-bottom: 20px;
}